$primary-blue: #028bd0;
$primary-red: #d01119;
$white: #fff;
$gray-eighty: #acacac;
$gray-silver: #c8c8c830;
$gray-light: #999;
$gray-medium: #666;
$gray-dark: #333;
$black: #000;
$red: #e23d3d;
$gray-light-bg: #f5f5f5;
$gray-medium-bg: #f1f1f1;
$gray-dark-bg: #dddddd;
$blue-light-bg: rgba(147, 179, 220, 0.15);




